.ARTICLES{
    width:100%;
}

.articles{
    background-color: grey;
    width: 100%;
    max-width: 1290px;
    padding : 20px; 
    margin: auto;
    height: 2000px;
}

.art_text{
    text-align: center;
    font-size :25px;
    
}

.art_content{
    margin-top: 20px;
    background-color: red;
    width: 100%;
    height: 100px;
}