.CONTENT{
    max-width: 1366px;
    margin:auto;
    font-size :25px;
    text-align: center;
    padding: 20px;
}


.contents{
    display: grid; 
    place-items: center;
    grid-template-columns: repeat(3,auto);
}

.article,.book,.blog{
    
    display: flex;
    font-size:45px;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 110, 93);
    color: white;
    width: 420px;
    height: 300px;
    border-radius:30px;
    text-decoration: none;
}

.article:hover,.book:hover,.blog:hover{
    background-color: white;
    color: rgb(14, 53, 45);
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
    border-color: rgb(26, 110, 93);
    transition: all 0.25s ease-out;
}


.divider{
    margin-top: 20px;
    margin-bottom: 20px;
    height:1px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(26, 110, 93);
    width:100%;
}
