*{
    font-family: 'Roboto' , serif;
}

.content{
    max-width: 1366px;
    margin: auto;
    font-size :25px;
    text-align: center;
   
    padding :20px;
}

.contents{
    display: grid; 
    max-width: 1366px;
    margin:auto; 
    grid-template-columns: repeat(3,auto);
    
}

.articles,.books,.blog{
    background-color: grey;
    width: 420px;
    height: 400px;
    border-radius: 10px;
}

.divider{
    margin-top: 20px;
    margin-bottom: 20px;
    height:1px;
    background-color: grey;
    width: 1366px;
}
