/* rgb(14, 53, 45) -- main green color
    rgb(26, 110, 93) -- light green color

*/

.navbarItems{
    background:rgb(14, 53, 45);
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.10rem;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(8,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.77rem;
}

.nav-links:hover{
    background-color: rgb(26, 110, 93);
    border-radius: 10px;
    transition: all 0.2s ease-out;
}

.register{
    color: white;
    background-color: rgb(26, 110, 93);
    text-decoration: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

.register:hover{
    background-color: white;
    color: rgb(14, 53, 45);
    border-radius: 10px;
    transition: all 0.2s ease-out;
}

@media screen and (max-width : 1240px) {
    .register{
        display: none;
    } 
}
