.footer{
    background:rgb(14, 53, 45);
    height: 230px;
    color: white;
    font-size: 0.8rem;
    
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    
}

.copyrightbar
{
    background: rgb(26, 110, 93);
    height: 30px;
    width: 100%;
    position : absolute;
    padding:5px;
    text-align: center;
    bottom: 0px;   
}

.quicklinks{   
    position :absolute;
    margin : 30px;
    left : 20%;
}

.AboutUs{
    position: absolute;
    margin : 30px;
    right:20%;
}

.linklist{
    text-indent: 20px;
    list-style: none;
    padding : 0.5rem 0.5rem;
}

