.footer{
    background:rgb(14, 53, 45);
    height: 250px;
    color: white;
    font-size: 0.8rem;


    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
}

.copyrightbar
{
    background: rgb(26, 110, 93);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    position : absolute;
    bottom: 0px;   
}

.quicklinks{   
    position:absolute;
    margin : 30px;
    left : 20%;
}

.AboutUs{
    position: absolute;
    margin : 30px;
    right:20%;
}

.linklist{
    text-indent: 20px;
    list-style: none;
    padding : 0.5rem 0.5rem;
}

