*{
    font-family: 'Roboto', sans-serif;
}

.home{
    font-size: 24px;
    text-align: center;
    width: 100%;
}

.home_img{
    max-width: 1366;
    width: 1366px;
    text-align: center;
    margin: auto;
    height: 500px;
    background-color: grey;
}

.cards{
    max-width: 1366;
    margin :auto;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.card1,.card2,.card3,.card4{
    width: 400px;
    background-color: grey;
    height: 250px;
    border-radius: 10px;
}